{% extends 'base.html.twig' %}

{% block body %}

    <div class="blocShow">
        <div class="titleShow">
            <h2>{{ conference.title }}</h2>
            <p class="addedBy">ajouté par {{ conference.auteur }}</p>
        </div>
        <div class="contenuShow">
            <div class="imageShow">
                <img src="{{ asset('uploads/image/' ~ conference.image) }}">
            </div>
            <div class="infoShow">
                <h3>{% if conference.date %} {{ conference.date|date('d-m-Y H:i') }} {% endif %}</h3>
                <div class="description">
                    <p>{{ conference.description }}</p>
                </div>
            </div>
        </div>
    </div>


    {% block Options %}
    {% endblock %}
{% endblock %}
