{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier la conférence</h1>

    <div class="blocNew">
        {{ form_start(edit_form) }}
        <div class="interieurNew">
            {{ form_row(edit_form.title) }}
            {{ form_row(edit_form.description) }}
        </div>
        <div class="interieurNew">
            {{ form_row(edit_form.lieu) }}
            {{ form_row(edit_form.date) }}
        </div>
        <div class="interieurNew">
            {{ form_row(edit_form.image) }}
        </div>
        <div class="btnEdit">
            <input type="submit" value="Modifier" />
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
            <input type="submit" class="supp" value="Supprimer"/>
            {{ form_end(delete_form) }}
        </div>
    </div>


{% endblock %}
