{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conferences list</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>Image</th>
                <th>Auteur</th>
            </tr>
        </thead>
        <tbody>
        {% for conference in conferences %}
            <tr>
                <td>{{ conference.title }}</td>
                <td>{{ conference.description }}</td>
                <td>{% if conference.date %} {{ conference.date|date('Y-m-d H:i:s') }} {% endif %}</td></td>
                <td>{{ conference.lieu }}</td>
                <td><img src="{{ asset('uploads/image/' ~ conference.image) }}"></td>
                <td>{{ conference.auteur }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
