{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des conférences</h1>


    <div class="liste">
        {% for conference in conferences %}
            <div class="elementListe">
                <div class="infoListe">
                    <div><h3>{{ conference.title }} </h3> </div>
                    <div><h4>{{ conference.lieu }}</h4>
                    {% if conference.date %} {{ conference.date|date('d-m-Y H:i') }} {% endif %}
                    </div>
                </div>
                <div class="contenuListe">
                    <div class="description">
                        <p>{{ conference.description }}</p>
                    </div>
                    <div class="image">
                        <img src="{{ asset('uploads/image/' ~ conference.image) }}">
                    </div>
                </div>
                <div class="addedBy">
                    <p>ajouté par {{ conference.auteur }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
