{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conference</h1>

    <table>
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ conference.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ conference.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if conference.date %} {{ conference.date|date('Y-m-d H:i:s') }} {% endif %}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ conference.lieu }}</td>
                <div id="map"></div>

            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/image/' ~ conference.image) }}"></td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ conference.auteur }}</td>
            </tr>
        </tbody>
    </table>

    {% block Options %}
    <div> </div>
    {% endblock %}
{% endblock %}
