{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conference</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conference.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ conference.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ conference.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if conference.date %} {{ conference.date|date('Y-m-d H:i:s') }} {% endif %}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ conference.lieu }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/image/' ~ conference.image) }}"></td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ conference.auteur }}</td>
            </tr>
        </tbody>
    </table>


            <a href="{{ path('conference_index') }}">Back to the list</a>

            <a href="{{ path('conference_edit', { 'id': conference.id }) }}">Edit</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}

{% endblock %}
